#rating
{
    float: left; 
}
 #blogcommentblock
 {
     margin-top: 10px;
     margin-left: 10px;
     
 }
 #adminblock
 {
     float:left;
 }
 #blogautor
 {
     float: left;
     border-right: 1px solid #000000;
     padding-right: 5px;
     margin-right: 5px;
 }
 #blog_header
 {
     font-size: 24px;
 }
 .blogpostrating
 {
     width: auto;
     float: left;
     border-right: 1px solid #000000;
     padding-right: 5px;
     margin-right: 5px;
 }
 .blogcomment
 {
     margin-top: 5px;
     margin-left: 10px;
 }
 .blogcommentuser
 {
     width: 50%;
     background-color: #B0B0B0;
     color: #000000;
     padding-left: 2px;
     padding-top: 1px;
     padding-bottom: 1px;
 }
 .blogcommenttext
 {
     width: 50%;
     background-color: #D5D5D5;
     padding-left: 2px;
 }
 .blogcommentuser A
 {
     color: #DFDFDF;
     text-decoration: none;
 }
 .blogcommentuser A:hover
 {
     color: #EFF7FF;
 }
 .blogaction
 {
     width: 16px;
     height: 16px;
     cursor: pointer;
     float: left;
 }
 #adminblock
 {
     margin-left: 10px;
 }
 #postpost
 {
     height: 28px;
     margin-top: 5px;
     margin-left: 10px;
 }
 .blogpage
 {
     border: 1px solid #B0B0B0;
     margin-top: 10px;
     border-radius: 1px;
     width: 80%;
 }
 .blogheader
 {
     margin-top: 5px;
     margin-left: 10px;
     color: #000000;
     font-size: 28px;
 }
 .blogbrieftext
 {
     margin-left: 12px;
     color: #646464;
     font-size: 14px;
 }
 .blognext
 {
     text-align: right;
     padding-right: 16px;
 }
