
/* ULIN PROJECT */
/* ULIN TECH */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, button, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	
	
	font-style: normal;
	letter-spacing: 0px;
	font-weight: 400;
	font-family: 'Liberation Sans',Helvetica Neue,Helvetica,Arial,sans-serif;
	
	outline: 0;
	border-radius: 0;
	
	
	text-rendering: geometricPrecision;
	-webkit-text-rendering: geometricPrecision;
	-moz-text-rendering: geometricPrecision;
}
:focus {
	outline: 0;
}

form {
	float: left;
	display: block;
}

input {
	display: block;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	 
	color: #0000CC;
	cursor: pointer;
}


head { 
	display: none;
}


button::-moz-focus-inner,input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="file"] > input[type="button"]::-moz-focus-inner {/* */
	border: none;
}
input[type="checkbox"]:focus {
	-moz-outline-offset: -1px !important;
	-moz-outline: 1px solid #000 !important;
	outline: 1px solid #000 !important;
	outline-offset: -1px !important;
}
input[type="text"],input[type="email"],input[type="tel"],input[type="number"],textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: 0;
	box-shadow: none;
}




button:active, button:focus {
	outline: none !important;
}
button::-moz-focus-inner {
	border: 0 !important;
}



button::focus-inner { /* убираем внутренний отступ у кнопки в FF, который зарезервирован для рамки при фокусе */
	padding:0;
	border:0;
}
button::-moz-focus-inner { /* убираем внутренний отступ у кнопки в FF, который зарезервирован для рамки при фокусе */
	padding:0;
	border:0;
}




/* ULIN PROJECT */
/* ULIN TECH */

