body {  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    font: menu;
    z-index: -1;
    background-color: rgb(44, 44, 44) !important;
    background-repeat: no-repeat no-repeat !important;
    background-attachment: fixed !important;
    background-position: 50% 100% !important;
    background-clip: border-box !important;
    background-origin: padding-box !important;
    background-size: cover !important;
    font-family: menu, sans-serif;
    font-weight: normal;
    background-image: url("/data/img/background.png");
}
.nofloat 
 {
     float: none !important;
 }
.onfloat 
 {
     float: left !important;
 }
* {
    bottom: 0px;
    padding: 0px;
    margin: 0px;
    outline: 0;
}
#endpage
{
    height: 20px;
    background-color: #B0B0B0;
    color: #000000;
    text-align: right;
    border-bottom: 1px solid #032aff;
    border-right: 1px solid #032aff;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}
#endpage A
{
    color: #000000;
}
#endpage A:hover
{
    color: #904D30;
}
.button{
    text-decoration:none; 
    text-align:center; 
    padding:11px 32px;
    border:solid 1px #062752; 
    -webkit-border-radius:2px;
    -moz-border-radius:2px; 
    border-radius: 2px; 
    font:15px Verdana, Geneva, sans-serif; 
    font-weight:bold; 
    color:#dbdbdb; 
    background-color:#01081f; 
    background-image: -moz-linear-gradient(top, #01081f 0%, #031742 100%); 
    background-image: -webkit-linear-gradient(top, #01081f 0%, #031742 100%); 
    background-image: -o-linear-gradient(top, #01081f 0%, #031742 100%); 
    background-image: -ms-linear-gradient(top, #01081f 0% ,#031742 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#031742', endColorstr='#031742',GradientType=0 ); 
    background-image: linear-gradient(top, #01081f 0% ,#031742 100%);   
    -webkit-box-shadow:1px 1px 2px #0202bf, inset 0px 0px 1px #1c296e; 
    -moz-box-shadow: 1px 1px 2px #0202bf,  inset 0px 0px 1px #1c296e;  
    box-shadow:1px 1px 2px #0202bf, inset 0px 0px 1px #1c296e;  
    
}
#maindiv {
min-width: 740px;
max-width: 1240px;
height: 100%;
margin-left: auto;
margin-top: 25px;
margin-right: auto;
color: #363636;
background-color: #FEFEFF;
font-size: 16px;
}
#maindiv2{
padding-left: 5px;
}
#paneldiv {
background-color: #B0B0B0;
width: 100%;
height: 50px;
padding-left: 5px;
color: #FFFFFF;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
border-bottom: 1px solid #032aff;
}
.panelelement
{
    float: left;
    margin-right: 5px;
    text-align: center;
    line-height: 50px;
    max-height:50px;
}
.panelelement + .panelelement {
    margin-left: 5px;
}
.panelelement A{
    color: #000000;
    text-decoration: none;
}
.panelelement A:hover{
    color: #3e3e3e;
}
.noticesetup
{
    min-width:170px;
    padding-left: 5px;
    padding-right: 5px;
    max-width:570px;
    min-height:50px;
    max-height:750px;
    word-break: break-all;
    margin-top: 10px;
    text-align: center;
    line-height: 42px;
    background-color: #0D63CD;
    color: #FFFFFF;
}
#notices
{
    right: 5%;
    top: 10px;
    position: fixed;
}
#popup
{
    width: 400px;
    height: 400px;
    margin: 50px auto;
    background: #fff;
    z-index: 200;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
}
#popupclose
{
    margin-left: 364px;
    margin-top: 4px;
    cursor: pointer;
}
#headertext {
font-size: 36px;
color: rgba(16, 105, 171, 0.83);
}
