 
 .avatar{
     width:170px;
     height:170px;
     float: left;
 }
 .priveleg{
     min-width:150px;
     padding-left: 3px;
     padding-right: 3px;
     height:40px;
     margin-top: 5px;
     margin-left: 5px;
     float: left;
     background-color: black;
     color: #FFFFFF;
     text-align: center;
     line-height: 40px;
 }
 .profileaction
 {
     width: 16px;
     height: 16px;
     cursor: pointer;
 }
#groups
{
    height: 46px;
}
